@charset "utf-8";
@import url('./font.css');

#header { position: fixed; width: 100%; background-color: #ffffff; z-index: 20; top: 0; left: 0; height: 87px; border-bottom: 1px solid #e4e5ed; }
.header_until .headCon { width: 100%; max-width: 1220px; padding: 0 15px; margin: auto; }
.header_until .headCon .headCon_in { padding:20px 0; }
.header_until .headCon .headCon_in h1 a { display: inline-block; }
.headCon_in h1 img { width: 200px; }
.headCon_in .left_menu { display: none; }
.headCon_in .head_info { position: absolute; right: 0; top:20px; }
.headCon_in .head_info div { position: relative; display: inline-block; vertical-align: middle; margin: 0 10px; padding:4px 0; }
.headCon_in .head_info li { float:left; font-size: 14px; font-weight: 400; }
.headCon_in .head_info .infoL li a { position: relative; margin-right: 12px; font-weight: 300; }
.headCon_in .head_info .infoL li:last-child a { margin-right: 0; }
.headCon_in .head_info .infoL li a:after { content: ''; position: absolute; width: 1px; height: 10px; background-color: #c5c5c5; top:50%; right:-7px; transform: translateY(-50%); }
.headCon_in .head_info .infoL li:last-child a:after { display: none; }
.headCon_in .head_info .infoR .dropInfo { position: absolute; display: none; right: 0; top:40px; width: 110px; border: 1px solid #e4e5ed; border-radius: 3px; background-color: #FFFFFF; z-index: 3; margin:0; }
.headCon_in .head_info .infoR:hover .dropInfo { display: block; }
.headCon_in .head_info .infoR .dropInfo li { clear: both; float: none; padding:8px 0; }
.headCon_in .head_info .infoR .dropInfo li:hover { background-color: #F3F4F8; }
.headCon_in .head_info .infoR .dropInfo li a { font-size: 14px; color:#232323; text-align: left; padding:0 15px; }
.headCon_in .head_info .mobile_view { display: none; }


@media (max-width: 1024px) {
    #header { height: 71px; }
    .headCon_in h1 img { width: 135px; }
    .headCon_in .head_info { top:17px; }
    .headCon_in .head_info div { margin:0 5px; display: none; }
    .headCon_in .head_info .infoL li a { font-size: 14px; }
    .headCon_in .head_info .infoL li a { margin-right: 10px; }
    .headCon_in .head_info .infoL li:last-child a:after { height: 10px; right: -5px; }
    .headCon_in .head_info .infoR:hover .dropInfo { width: 95px; }
    .headCon_in .head_info .infoR a img { width: 27px; }
    .headCon_in .head_info .infoR .dropInfo li a { font-size: 13px; }
    /*left_menu*/
    .headCon_in .head_info .mobile_view { display: block; top:5px; }
    .headCon_in .left_menu { display: block; background-color: rgba(0,0,0,0.6); position: fixed; top: 0; right: 0; bottom: 0; width: 0; z-index: 9999; /*max-width: 1024px;*/ left: 50%; transform: translateX(-50%); overflow: hidden; }
    .headCon_in .left_menu.view { width: 100%; }
    .headCon_in .left_menu .nav_contents { position: fixed;  right:-100%; top: 0; bottom: 0; width: 80%; max-width: 330px; background-color: #f3f3f3; transition: all .5s; }
    .headCon_in .left_menu .nav_contents.view { right:0; }
    .nav_contents .nav_info { position: relative; display: flex; align-items: center; height: 64px; padding:0 15px; margin-bottom: 7px; border-bottom: 1px solid #e9e9e9; background-color: #FFFFFF; }
    .nav_contents .nav_info span { display: inline-block; font-size: 15px; }
    .nav_contents .nav_info span:first-child { padding-right: 10px; }
    .nav_contents .nav_info span img { width: 34px; }
    .nav_contents .nav_info a { position: absolute; right: 0; padding:15px; }
    .nav_contents .nav_info a img { width:11px; }
    .nav_contents .nav_menu { background-color: #FFFFFF; }
    .nav_contents .nav_menu li { border-bottom: 1px solid #e9e9e9; }
    .nav_contents .nav_menu li a { position: relative; padding:0 15px; line-height: 33px; font-weight: 300; font-size: 13px; }
    .nav_contents .nav_menu li a img { position: absolute; display: block; width: 5px; top:50%; right: 15px; transform: translateY(-50%); }
    .nav_contents .nav_menu li.two_nav a:after { position: absolute; content: ''; display: block; width:1px; height: 9px; background-color: #a1a1a1; top:50%; transform: translateY(-50%); right: 17px; }
    .nav_contents .nav_menu li.two_nav a:before { position: absolute; content: ''; display: block; width:9px; height: 1px; background-color: #a1a1a1; top:50%; transform: translateY(-50%); right: 13px; }
    .nav_contents .nav_menu li.two_nav a.view+.two_list { display: block; }
    .nav_contents .nav_menu .two_list { display: none; border-top:1px solid #e9e9e9; }
    .nav_contents .nav_menu .two_list li { border-bottom: 0; }
    .nav_contents .nav_menu .two_list li a { line-height: 30px; padding-left: 30px; }
    .nav_contents .nav_menu .two_list li a span { color:#444444; font-size: 13px; }
    .nav_contents .nav_menu .two_list li a:before, .nav_contents .nav_menu .two_list li a:after, .nav_contents .nav_menu li.two_nav a.view:after { display: none; }

}
